{{> header}}
<div class="col-12">
    <div class="m-2">
        <div class="loginbox">
            
            <div class="aboutborder">
                <p class="logintitletext">About</p>
                <div class="abouttext">
                    This web application is a restaurant review web application focusing on restaurants around De La Salle University. Users are able to view restaurants around campus and also create reviews while rating whether they recommend the restaurant or not.
                </div>
                <div class="abouttext">
                    Packages and libraries used in creating this web application:
                </div>
                <div class="ms-3">
                    <div class="abouttext">
                        • Bootstrap
                    </div>
                    <div class="abouttext">
                        • NodeJS
                    </div>
                    <div class="abouttext">
                        • Express
                    </div>
                    <div class="abouttext">
                        • Express Handlebars
                    </div>
                    <div class="abouttext">
                        • Express Fileupload
                    </div>
                    <div class="abouttext">
                        • MongoDB
                    </div>
                    <div class="abouttext">
                        • Mongoose
                    </div>
                    <div class="abouttext">
                        • Bcrypt
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>