{{> header}}
<div class="container overflow-hidden">
    <div class="row gx-5 justify-content-center pt-5">
        <div class="col-8">
            <div class="m-2">
                <p class="fw-bold fs-1">Owned Restaurants</p>
                {{> establishment-list}}
            </div>
        </div>
    </div>
</div>